@import url("https://use.typekit.net/lpf4cax.css");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #333;
}

img {
  max-width: 100%;
}

h1 {
  text-wrap: balance;
}

body {
  margin-inline: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-main {
  color: #484ca0;
}

.text-hover-main:hover {
  color: #484ca0;
}

.bg-main {
  background-color: #484ca0;
}

.text-main-light-1 {
  color: #5a5eaa;
}

.text-hover-main-light-1:hover {
  color: #5a5eaa;
}

.bg-main-light-1 {
  background-color: #5a5eaa;
}

.text-main-light-2 {
  color: #6d70b3;
}

.text-hover-main-light-2:hover {
  color: #6d70b3;
}

.bg-main-light-2 {
  background-color: #6d70b3;
}

.text-main-light-3 {
  color: #7f82bd;
}

.text-hover-main-light-3:hover {
  color: #7f82bd;
}

.bg-main-light-3 {
  background-color: #7f82bd;
}

.text-main-light-4 {
  color: #9194c6;
}

.text-hover-main-light-4:hover {
  color: #9194c6;
}

.bg-main-light-4 {
  background-color: #9194c6;
}

.text-main-light-5 {
  color: #a4a6d0;
}

.text-hover-main-light-5:hover {
  color: #a4a6d0;
}

.bg-main-light-5 {
  background-color: #a4a6d0;
}

.text-main-light-6 {
  color: #b6b7d9;
}

.text-hover-main-light-6:hover {
  color: #b6b7d9;
}

.bg-main-light-6 {
  background-color: #b6b7d9;
}

.text-main-light-7 {
  color: #c8c9e3;
}

.text-hover-main-light-7:hover {
  color: #c8c9e3;
}

.bg-main-light-7 {
  background-color: #c8c9e3;
}

.text-main-light-8 {
  color: #dadbec;
}

.text-hover-main-light-8:hover {
  color: #dadbec;
}

.bg-main-light-8 {
  background-color: #dadbec;
}

.text-main-light-9 {
  color: #ededf6;
}

.text-hover-main-light-9:hover {
  color: #ededf6;
}

.bg-main-light-9 {
  background-color: #ededf6;
}

.text-main-dark-1 {
  color: #414490;
}

.text-hover-main-dark-1:hover {
  color: #414490;
}

.bg-main-dark-1 {
  background-color: #414490;
}

.text-main-dark-2 {
  color: #3a3d80;
}

.text-hover-main-dark-2:hover {
  color: #3a3d80;
}

.bg-main-dark-2 {
  background-color: #3a3d80;
}

.text-main-dark-3 {
  color: #323570;
}

.text-hover-main-dark-3:hover {
  color: #323570;
}

.bg-main-dark-3 {
  background-color: #323570;
}

.text-main-dark-4 {
  color: #2b2e60;
}

.text-hover-main-dark-4:hover {
  color: #2b2e60;
}

.bg-main-dark-4 {
  background-color: #2b2e60;
}

.text-main-dark-5 {
  color: #242650;
}

.text-hover-main-dark-5:hover {
  color: #242650;
}

.bg-main-dark-5 {
  background-color: #242650;
}

.text-main-dark-6 {
  color: #1d1e40;
}

.text-hover-main-dark-6:hover {
  color: #1d1e40;
}

.bg-main-dark-6 {
  background-color: #1d1e40;
}

.text-main-dark-7 {
  color: #161730;
}

.text-hover-main-dark-7:hover {
  color: #161730;
}

.bg-main-dark-7 {
  background-color: #161730;
}

.text-main-dark-8 {
  color: #0e0f20;
}

.text-hover-main-dark-8:hover {
  color: #0e0f20;
}

.bg-main-dark-8 {
  background-color: #0e0f20;
}

.text-main-dark-9 {
  color: #070810;
}

.text-hover-main-dark-9:hover {
  color: #070810;
}

.bg-main-dark-9 {
  background-color: #070810;
}

.text-primary {
  color: #f89b21;
}

.text-hover-primary:hover {
  color: #f89b21;
}

.bg-primary {
  background-color: #f89b21;
}

.text-primary-light-1 {
  color: #f9a537;
}

.text-hover-primary-light-1:hover {
  color: #f9a537;
}

.bg-primary-light-1 {
  background-color: #f9a537;
}

.text-primary-light-2 {
  color: #f9af4d;
}

.text-hover-primary-light-2:hover {
  color: #f9af4d;
}

.bg-primary-light-2 {
  background-color: #f9af4d;
}

.text-primary-light-3 {
  color: #fab964;
}

.text-hover-primary-light-3:hover {
  color: #fab964;
}

.bg-primary-light-3 {
  background-color: #fab964;
}

.text-primary-light-4 {
  color: #fbc37a;
}

.text-hover-primary-light-4:hover {
  color: #fbc37a;
}

.bg-primary-light-4 {
  background-color: #fbc37a;
}

.text-primary-light-5 {
  color: #fccd90;
}

.text-hover-primary-light-5:hover {
  color: #fccd90;
}

.bg-primary-light-5 {
  background-color: #fccd90;
}

.text-primary-light-6 {
  color: #fcd7a6;
}

.text-hover-primary-light-6:hover {
  color: #fcd7a6;
}

.bg-primary-light-6 {
  background-color: #fcd7a6;
}

.text-primary-light-7 {
  color: #fde1bc;
}

.text-hover-primary-light-7:hover {
  color: #fde1bc;
}

.bg-primary-light-7 {
  background-color: #fde1bc;
}

.text-primary-light-8 {
  color: #feebd3;
}

.text-hover-primary-light-8:hover {
  color: #feebd3;
}

.bg-primary-light-8 {
  background-color: #feebd3;
}

.text-primary-light-9 {
  color: #fef5e9;
}

.text-hover-primary-light-9:hover {
  color: #fef5e9;
}

.bg-primary-light-9 {
  background-color: #fef5e9;
}

.text-primary-dark-1 {
  color: #df8c1e;
}

.text-hover-primary-dark-1:hover {
  color: #df8c1e;
}

.bg-primary-dark-1 {
  background-color: #df8c1e;
}

.text-primary-dark-2 {
  color: #c67c1a;
}

.text-hover-primary-dark-2:hover {
  color: #c67c1a;
}

.bg-primary-dark-2 {
  background-color: #c67c1a;
}

.text-primary-dark-3 {
  color: #ae6d17;
}

.text-hover-primary-dark-3:hover {
  color: #ae6d17;
}

.bg-primary-dark-3 {
  background-color: #ae6d17;
}

.text-primary-dark-4 {
  color: #955d14;
}

.text-hover-primary-dark-4:hover {
  color: #955d14;
}

.bg-primary-dark-4 {
  background-color: #955d14;
}

.text-primary-dark-5 {
  color: #7c4e11;
}

.text-hover-primary-dark-5:hover {
  color: #7c4e11;
}

.bg-primary-dark-5 {
  background-color: #7c4e11;
}

.text-primary-dark-6 {
  color: #633e0d;
}

.text-hover-primary-dark-6:hover {
  color: #633e0d;
}

.bg-primary-dark-6 {
  background-color: #633e0d;
}

.text-primary-dark-7 {
  color: #4a2f0a;
}

.text-hover-primary-dark-7:hover {
  color: #4a2f0a;
}

.bg-primary-dark-7 {
  background-color: #4a2f0a;
}

.text-primary-dark-8 {
  color: #321f07;
}

.text-hover-primary-dark-8:hover {
  color: #321f07;
}

.bg-primary-dark-8 {
  background-color: #321f07;
}

.text-primary-dark-9 {
  color: #191003;
}

.text-hover-primary-dark-9:hover {
  color: #191003;
}

.bg-primary-dark-9 {
  background-color: #191003;
}

.text-secondary {
  color: #cbe0ea;
}

.text-hover-secondary:hover {
  color: #cbe0ea;
}

.bg-secondary {
  background-color: #cbe0ea;
}

.text-secondary-light-1 {
  color: #d0e3ec;
}

.text-hover-secondary-light-1:hover {
  color: #d0e3ec;
}

.bg-secondary-light-1 {
  background-color: #d0e3ec;
}

.text-secondary-light-2 {
  color: #d5e6ee;
}

.text-hover-secondary-light-2:hover {
  color: #d5e6ee;
}

.bg-secondary-light-2 {
  background-color: #d5e6ee;
}

.text-secondary-light-3 {
  color: #dbe9f0;
}

.text-hover-secondary-light-3:hover {
  color: #dbe9f0;
}

.bg-secondary-light-3 {
  background-color: #dbe9f0;
}

.text-secondary-light-4 {
  color: #e0ecf2;
}

.text-hover-secondary-light-4:hover {
  color: #e0ecf2;
}

.bg-secondary-light-4 {
  background-color: #e0ecf2;
}

.text-secondary-light-5 {
  color: #e5f0f5;
}

.text-hover-secondary-light-5:hover {
  color: #e5f0f5;
}

.bg-secondary-light-5 {
  background-color: #e5f0f5;
}

.text-secondary-light-6 {
  color: #eaf3f7;
}

.text-hover-secondary-light-6:hover {
  color: #eaf3f7;
}

.bg-secondary-light-6 {
  background-color: #eaf3f7;
}

.text-secondary-light-7 {
  color: #eff6f9;
}

.text-hover-secondary-light-7:hover {
  color: #eff6f9;
}

.bg-secondary-light-7 {
  background-color: #eff6f9;
}

.text-secondary-light-8 {
  color: #f5f9fb;
}

.text-hover-secondary-light-8:hover {
  color: #f5f9fb;
}

.bg-secondary-light-8 {
  background-color: #f5f9fb;
}

.text-secondary-light-9 {
  color: #fafcfd;
}

.text-hover-secondary-light-9:hover {
  color: #fafcfd;
}

.bg-secondary-light-9 {
  background-color: #fafcfd;
}

.text-secondary-dark-1 {
  color: #b7cad3;
}

.text-hover-secondary-dark-1:hover {
  color: #b7cad3;
}

.bg-secondary-dark-1 {
  background-color: #b7cad3;
}

.text-secondary-dark-2 {
  color: #a2b3bb;
}

.text-hover-secondary-dark-2:hover {
  color: #a2b3bb;
}

.bg-secondary-dark-2 {
  background-color: #a2b3bb;
}

.text-secondary-dark-3 {
  color: #8e9da4;
}

.text-hover-secondary-dark-3:hover {
  color: #8e9da4;
}

.bg-secondary-dark-3 {
  background-color: #8e9da4;
}

.text-secondary-dark-4 {
  color: #7a868c;
}

.text-hover-secondary-dark-4:hover {
  color: #7a868c;
}

.bg-secondary-dark-4 {
  background-color: #7a868c;
}

.text-secondary-dark-5 {
  color: #667075;
}

.text-hover-secondary-dark-5:hover {
  color: #667075;
}

.bg-secondary-dark-5 {
  background-color: #667075;
}

.text-secondary-dark-6 {
  color: #515a5e;
}

.text-hover-secondary-dark-6:hover {
  color: #515a5e;
}

.bg-secondary-dark-6 {
  background-color: #515a5e;
}

.text-secondary-dark-7 {
  color: #3d4346;
}

.text-hover-secondary-dark-7:hover {
  color: #3d4346;
}

.bg-secondary-dark-7 {
  background-color: #3d4346;
}

.text-secondary-dark-8 {
  color: #292d2f;
}

.text-hover-secondary-dark-8:hover {
  color: #292d2f;
}

.bg-secondary-dark-8 {
  background-color: #292d2f;
}

.text-secondary-dark-9 {
  color: #141617;
}

.text-hover-secondary-dark-9:hover {
  color: #141617;
}

.bg-secondary-dark-9 {
  background-color: #141617;
}

.text-theme-white {
  color: #f2f2f2;
}

.text-hover-theme-white:hover {
  color: #f2f2f2;
}

.bg-theme-white {
  background-color: #f2f2f2;
}

.text-theme-white-light-1 {
  color: #f3f3f3;
}

.text-hover-theme-white-light-1:hover {
  color: #f3f3f3;
}

.bg-theme-white-light-1 {
  background-color: #f3f3f3;
}

.text-theme-white-light-2 {
  color: whitesmoke;
}

.text-hover-theme-white-light-2:hover {
  color: whitesmoke;
}

.bg-theme-white-light-2 {
  background-color: whitesmoke;
}

.text-theme-white-light-3 {
  color: #f6f6f6;
}

.text-hover-theme-white-light-3:hover {
  color: #f6f6f6;
}

.bg-theme-white-light-3 {
  background-color: #f6f6f6;
}

.text-theme-white-light-4 {
  color: #f7f7f7;
}

.text-hover-theme-white-light-4:hover {
  color: #f7f7f7;
}

.bg-theme-white-light-4 {
  background-color: #f7f7f7;
}

.text-theme-white-light-5 {
  color: #f9f9f9;
}

.text-hover-theme-white-light-5:hover {
  color: #f9f9f9;
}

.bg-theme-white-light-5 {
  background-color: #f9f9f9;
}

.text-theme-white-light-6 {
  color: #fafafa;
}

.text-hover-theme-white-light-6:hover {
  color: #fafafa;
}

.bg-theme-white-light-6 {
  background-color: #fafafa;
}

.text-theme-white-light-7 {
  color: #fbfbfb;
}

.text-hover-theme-white-light-7:hover {
  color: #fbfbfb;
}

.bg-theme-white-light-7 {
  background-color: #fbfbfb;
}

.text-theme-white-light-8 {
  color: #fcfcfc;
}

.text-hover-theme-white-light-8:hover {
  color: #fcfcfc;
}

.bg-theme-white-light-8 {
  background-color: #fcfcfc;
}

.text-theme-white-light-9 {
  color: #fefefe;
}

.text-hover-theme-white-light-9:hover {
  color: #fefefe;
}

.bg-theme-white-light-9 {
  background-color: #fefefe;
}

.text-theme-white-dark-1 {
  color: #dadada;
}

.text-hover-theme-white-dark-1:hover {
  color: #dadada;
}

.bg-theme-white-dark-1 {
  background-color: #dadada;
}

.text-theme-white-dark-2 {
  color: #c2c2c2;
}

.text-hover-theme-white-dark-2:hover {
  color: #c2c2c2;
}

.bg-theme-white-dark-2 {
  background-color: #c2c2c2;
}

.text-theme-white-dark-3 {
  color: darkgray;
}

.text-hover-theme-white-dark-3:hover {
  color: darkgray;
}

.bg-theme-white-dark-3 {
  background-color: darkgray;
}

.text-theme-white-dark-4 {
  color: #919191;
}

.text-hover-theme-white-dark-4:hover {
  color: #919191;
}

.bg-theme-white-dark-4 {
  background-color: #919191;
}

.text-theme-white-dark-5 {
  color: #797979;
}

.text-hover-theme-white-dark-5:hover {
  color: #797979;
}

.bg-theme-white-dark-5 {
  background-color: #797979;
}

.text-theme-white-dark-6 {
  color: #616161;
}

.text-hover-theme-white-dark-6:hover {
  color: #616161;
}

.bg-theme-white-dark-6 {
  background-color: #616161;
}

.text-theme-white-dark-7 {
  color: #494949;
}

.text-hover-theme-white-dark-7:hover {
  color: #494949;
}

.bg-theme-white-dark-7 {
  background-color: #494949;
}

.text-theme-white-dark-8 {
  color: #303030;
}

.text-hover-theme-white-dark-8:hover {
  color: #303030;
}

.bg-theme-white-dark-8 {
  background-color: #303030;
}

.text-theme-white-dark-9 {
  color: #181818;
}

.text-hover-theme-white-dark-9:hover {
  color: #181818;
}

.bg-theme-white-dark-9 {
  background-color: #181818;
}

.text-theme-black {
  color: #3E3939;
}

.text-hover-theme-black:hover {
  color: #3E3939;
}

.bg-theme-black {
  background-color: #3E3939;
}

.text-theme-black-light-1 {
  color: #514d4d;
}

.text-hover-theme-black-light-1:hover {
  color: #514d4d;
}

.bg-theme-black-light-1 {
  background-color: #514d4d;
}

.text-theme-black-light-2 {
  color: #656161;
}

.text-hover-theme-black-light-2:hover {
  color: #656161;
}

.bg-theme-black-light-2 {
  background-color: #656161;
}

.text-theme-black-light-3 {
  color: #787474;
}

.text-hover-theme-black-light-3:hover {
  color: #787474;
}

.bg-theme-black-light-3 {
  background-color: #787474;
}

.text-theme-black-light-4 {
  color: #8b8888;
}

.text-hover-theme-black-light-4:hover {
  color: #8b8888;
}

.bg-theme-black-light-4 {
  background-color: #8b8888;
}

.text-theme-black-light-5 {
  color: #9f9c9c;
}

.text-hover-theme-black-light-5:hover {
  color: #9f9c9c;
}

.bg-theme-black-light-5 {
  background-color: #9f9c9c;
}

.text-theme-black-light-6 {
  color: #b2b0b0;
}

.text-hover-theme-black-light-6:hover {
  color: #b2b0b0;
}

.bg-theme-black-light-6 {
  background-color: #b2b0b0;
}

.text-theme-black-light-7 {
  color: #c5c4c4;
}

.text-hover-theme-black-light-7:hover {
  color: #c5c4c4;
}

.bg-theme-black-light-7 {
  background-color: #c5c4c4;
}

.text-theme-black-light-8 {
  color: #d8d7d7;
}

.text-hover-theme-black-light-8:hover {
  color: #d8d7d7;
}

.bg-theme-black-light-8 {
  background-color: #d8d7d7;
}

.text-theme-black-light-9 {
  color: #ecebeb;
}

.text-hover-theme-black-light-9:hover {
  color: #ecebeb;
}

.bg-theme-black-light-9 {
  background-color: #ecebeb;
}

.text-theme-black-dark-1 {
  color: #383333;
}

.text-hover-theme-black-dark-1:hover {
  color: #383333;
}

.bg-theme-black-dark-1 {
  background-color: #383333;
}

.text-theme-black-dark-2 {
  color: #322e2e;
}

.text-hover-theme-black-dark-2:hover {
  color: #322e2e;
}

.bg-theme-black-dark-2 {
  background-color: #322e2e;
}

.text-theme-black-dark-3 {
  color: #2b2828;
}

.text-hover-theme-black-dark-3:hover {
  color: #2b2828;
}

.bg-theme-black-dark-3 {
  background-color: #2b2828;
}

.text-theme-black-dark-4 {
  color: #252222;
}

.text-hover-theme-black-dark-4:hover {
  color: #252222;
}

.bg-theme-black-dark-4 {
  background-color: #252222;
}

.text-theme-black-dark-5 {
  color: #1f1d1d;
}

.text-hover-theme-black-dark-5:hover {
  color: #1f1d1d;
}

.bg-theme-black-dark-5 {
  background-color: #1f1d1d;
}

.text-theme-black-dark-6 {
  color: #191717;
}

.text-hover-theme-black-dark-6:hover {
  color: #191717;
}

.bg-theme-black-dark-6 {
  background-color: #191717;
}

.text-theme-black-dark-7 {
  color: #131111;
}

.text-hover-theme-black-dark-7:hover {
  color: #131111;
}

.bg-theme-black-dark-7 {
  background-color: #131111;
}

.text-theme-black-dark-8 {
  color: #0c0b0b;
}

.text-hover-theme-black-dark-8:hover {
  color: #0c0b0b;
}

.bg-theme-black-dark-8 {
  background-color: #0c0b0b;
}

.text-theme-black-dark-9 {
  color: #060606;
}

.text-hover-theme-black-dark-9:hover {
  color: #060606;
}

.bg-theme-black-dark-9 {
  background-color: #060606;
}

.text-highlight {
  color: #d8e990;
}

.text-hover-highlight:hover {
  color: #d8e990;
}

.bg-highlight {
  background-color: #d8e990;
}

.text-highlight-light-1 {
  color: #dceb9b;
}

.text-hover-highlight-light-1:hover {
  color: #dceb9b;
}

.bg-highlight-light-1 {
  background-color: #dceb9b;
}

.text-highlight-light-2 {
  color: #e0eda6;
}

.text-hover-highlight-light-2:hover {
  color: #e0eda6;
}

.bg-highlight-light-2 {
  background-color: #e0eda6;
}

.text-highlight-light-3 {
  color: #e4f0b1;
}

.text-hover-highlight-light-3:hover {
  color: #e4f0b1;
}

.bg-highlight-light-3 {
  background-color: #e4f0b1;
}

.text-highlight-light-4 {
  color: #e8f2bc;
}

.text-hover-highlight-light-4:hover {
  color: #e8f2bc;
}

.bg-highlight-light-4 {
  background-color: #e8f2bc;
}

.text-highlight-light-5 {
  color: #ecf4c8;
}

.text-hover-highlight-light-5:hover {
  color: #ecf4c8;
}

.bg-highlight-light-5 {
  background-color: #ecf4c8;
}

.text-highlight-light-6 {
  color: #eff6d3;
}

.text-hover-highlight-light-6:hover {
  color: #eff6d3;
}

.bg-highlight-light-6 {
  background-color: #eff6d3;
}

.text-highlight-light-7 {
  color: #f3f8de;
}

.text-hover-highlight-light-7:hover {
  color: #f3f8de;
}

.bg-highlight-light-7 {
  background-color: #f3f8de;
}

.text-highlight-light-8 {
  color: #f7fbe9;
}

.text-hover-highlight-light-8:hover {
  color: #f7fbe9;
}

.bg-highlight-light-8 {
  background-color: #f7fbe9;
}

.text-highlight-light-9 {
  color: #fbfdf4;
}

.text-hover-highlight-light-9:hover {
  color: #fbfdf4;
}

.bg-highlight-light-9 {
  background-color: #fbfdf4;
}

.text-highlight-dark-1 {
  color: #c2d282;
}

.text-hover-highlight-dark-1:hover {
  color: #c2d282;
}

.bg-highlight-dark-1 {
  background-color: #c2d282;
}

.text-highlight-dark-2 {
  color: #adba73;
}

.text-hover-highlight-dark-2:hover {
  color: #adba73;
}

.bg-highlight-dark-2 {
  background-color: #adba73;
}

.text-highlight-dark-3 {
  color: #97a365;
}

.text-hover-highlight-dark-3:hover {
  color: #97a365;
}

.bg-highlight-dark-3 {
  background-color: #97a365;
}

.text-highlight-dark-4 {
  color: #828c56;
}

.text-hover-highlight-dark-4:hover {
  color: #828c56;
}

.bg-highlight-dark-4 {
  background-color: #828c56;
}

.text-highlight-dark-5 {
  color: #6c7548;
}

.text-hover-highlight-dark-5:hover {
  color: #6c7548;
}

.bg-highlight-dark-5 {
  background-color: #6c7548;
}

.text-highlight-dark-6 {
  color: #565d3a;
}

.text-hover-highlight-dark-6:hover {
  color: #565d3a;
}

.bg-highlight-dark-6 {
  background-color: #565d3a;
}

.text-highlight-dark-7 {
  color: #41462b;
}

.text-hover-highlight-dark-7:hover {
  color: #41462b;
}

.bg-highlight-dark-7 {
  background-color: #41462b;
}

.text-highlight-dark-8 {
  color: #2b2f1d;
}

.text-hover-highlight-dark-8:hover {
  color: #2b2f1d;
}

.bg-highlight-dark-8 {
  background-color: #2b2f1d;
}

.text-highlight-dark-9 {
  color: #16170e;
}

.text-hover-highlight-dark-9:hover {
  color: #16170e;
}

.bg-highlight-dark-9 {
  background-color: #16170e;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #eee;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 24px;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 20px;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-main {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #484ca0;
}
.btn-main:hover {
  background-color: #5155b1;
}

.btn-outlined-main {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #484ca0;
}
.btn-outlined-main:hover {
  background-color: #484ca0;
}

.btn-complement-main {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #484ca0;
  color: #d8d6a9;
}
.btn-complement-main:hover {
  color: #484ca0;
  background-color: #d8d6a9;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f89b21;
}
.btn-primary:hover {
  background-color: #f9a63a;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #f89b21;
}
.btn-outlined-primary:hover {
  background-color: #f89b21;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f89b21;
  color: #b5d4fd;
}
.btn-complement-primary:hover {
  color: #f89b21;
  background-color: #b5d4fd;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #cbe0ea;
}
.btn-secondary:hover {
  background-color: #ddebf1;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #cbe0ea;
}
.btn-outlined-secondary:hover {
  background-color: #cbe0ea;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #cbe0ea;
  color: white;
}
.btn-complement-secondary:hover {
  color: #cbe0ea;
  background-color: white;
}

.btn-theme-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.btn-theme-white:hover {
  background-color: white;
}

.btn-outlined-theme-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}
.btn-outlined-theme-white:hover {
  background-color: #f2f2f2;
}

.btn-complement-theme-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: white;
}
.btn-complement-theme-white:hover {
  color: #f2f2f2;
  background-color: white;
}

.btn-theme-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3E3939;
}
.btn-theme-black:hover {
  background-color: #4b4545;
}

.btn-outlined-theme-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #3E3939;
}
.btn-outlined-theme-black:hover {
  background-color: #3E3939;
}

.btn-complement-theme-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3E3939;
  color: #838d8d;
}
.btn-complement-theme-black:hover {
  color: #3E3939;
  background-color: #838d8d;
}

.btn-highlight {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d8e990;
}
.btn-highlight:hover {
  background-color: #dfeda5;
}

.btn-outlined-highlight {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d8e990;
}
.btn-outlined-highlight:hover {
  background-color: #d8e990;
}

.btn-complement-highlight {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d8e990;
  color: white;
}
.btn-complement-highlight:hover {
  color: #d8e990;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.navbar .container, .navbar-white .container, .navbar-black .container, .navbar-highlight .container, .navbar-theme-black .container, .navbar-theme-white .container, .navbar-secondary .container, .navbar-primary .container, .navbar-main .container, .navbar, .navbar-white, .navbar-black, .navbar-highlight, .navbar-theme-black, .navbar-theme-white, .navbar-secondary, .navbar-primary, .navbar-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-black, .navbar-highlight, .navbar-theme-black, .navbar-theme-white, .navbar-secondary, .navbar-primary, .navbar-main {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-highlight .site-title, .navbar-theme-black .site-title, .navbar-theme-white .site-title, .navbar-secondary .site-title, .navbar-primary .site-title, .navbar-main .site-title {
  font-size: 24px;
}
.navbar-main {
  background-color: #484ca0;
}

.navbar-primary {
  background-color: #f89b21;
}

.navbar-secondary {
  background-color: #cbe0ea;
}

.navbar-theme-white {
  background-color: #f2f2f2;
}

.navbar-theme-black {
  background-color: #3E3939;
}

.navbar-highlight {
  background-color: #d8e990;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.navigation-button {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.navigation-bar {
  display: block;
  position: relative;
  background-color: #3E3939;
}

.navigation-container {
  width: 100%;
  background-color: #484ca0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 500ms ease-in-out;
  list-style-type: none;
  z-index: 5;
}

.navigation-container > * {
  width: 100%;
  font-size: 16px;
  list-style-type: none;
  padding-block: 0.75rem;
  text-align: center;
  background-color: #484ca0;
}

.navigation-container a {
  white-space: nowrap;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 400ms ease-out;
}

.navigation-container[data-expended=false] {
  transform: translateY(-150%);
}

.navigation-container[data-expended=true] {
  transform: translateY(0%);
}

.navigation-container a:hover,
.navigation-container a:focus {
  background-color: #d8e990;
  border-radius: 10rem;
  color: black;
}

@media only screen and (width > 767px) {
  /* --------------------------------------------- */
  button {
    display: none;
  }
  .navigation-container {
    position: relative;
    flex-direction: row;
    gap: 2px;
  }
  .navigation-container[data-expended=false] {
    transform: translateY(0%);
  }
  .navigation-container li {
    background-color: #484ca0;
    padding-block: 1rem;
  }
  .navigation-container a {
    font-size: 1.6vw;
  }
}
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 20px;
}

.font-lg {
  font-size: 24px;
}

.font-xl {
  font-size: 36px;
}

.font-2xl {
  font-size: 40px;
}

.font-3xl {
  font-size: 48px;
}

.font-4xl {
  font-size: 64px;
}

.font-5xl {
  font-size: 84px;
}