.home {
    .container {
        max-width: 90%;
    }
}

.home-header-logo {
    width: 450px;
}

.home h1,
h2 {
    text-wrap: balance;
}

.home-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    border: none;
    background-color: $main;
    color: $theme-white;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.home button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 35px $main;
}

.home-btn-icon {
    height: 30px;
}

.home header {
    background-image: url(/images/home/home-header-bg.png);
    height: 850px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    position: relative;
    isolation: isolate;
}

.home header::after {
    display: block;
    content: '';
    background-image: url(/images/home/swoosh.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    inset: 0;
}
.bottom-border {
    border-bottom: 6px solid $primary;
    width: 220px;
    border-radius: 10px;
}
.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-bg {
    --bg-image: url(/images/home/home-bg-main.jpg);
    --bg-image-opacity: 0.2;
    position: relative;
    isolation: isolate;
}

.home-bg::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: $theme-white;
    opacity: var(--bg-image-opacity);

    background-image: var(--bg-image);
    background-size: 100%;
    background-position: center center;
    background-repeat: repeat;
}

.home-mobile-logo {
    display: none;
    width: 210px;
}

@media (max-width: 1200px) {
    .home header {
        height: 900px;
    }
}
@media (max-width: 960px) {
    .home header {
        height: 1080px;
    }
    .home-icons {
        display: none;
    }
    .bottom-border {
        display: none;
    }
    .home-banner {
        text-align: center;
    }
    .home-header-logo {
        display: none;
    }
    .home-mobile-logo {
        display: block;
    }
    .home button {
        display: none;
    }
}