// font import

@font-face {
  font-family: "Booster Next FY";
  src: url('../assets/fonts/Booster_Next_FY/BoosterNextFY-Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
	font-family: "Booster Next FY";
	src: url('../assets/fonts/Booster_Next_FY/BoosterNextFY-Bold.otf') format('opentype');
	font-weight: bold;
	font-display: swap;
}

// reset styles
* {
	color: inherit;
	margin: 0;
	font-size: $base-font-size;
}

body {
	font-family: 'Booster Next FY', sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 1.5;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px solid #333;
}

img {
	max-width: 100%;
}

body {
	margin-inline: auto;
}