@import "components/global";
// variables and functions
@import "functions";
@import "variables";

// base & layout
@import "base";
@import "breakpoints";
@import "grid";

// colors
@import "colors";

// components (buttons, cards, navbar)
@import "components/card";
@import "components/button";
@import "components/navbar";

// utilities (margin, padding, opacity)
@import "utilities";
@import "components/submission";
