// variables and functions
@import "functions";
@import "variables";
@import "./font-style";

// base & layout
@import "base";
@import "breakpoints";
@import "grid";
// colors
@import "colors";
// components (buttons, cards, navbar)
@import "components/card";
@import "components/button";
@import "components/navbar";
@import "components/navigation";
@import "components/header";
@import "components/submission";
@import "components/schedule";
@import "components/press";
@import "components/awards";
// utilities (margin, padding, opacity)
@import "utilities";
