// variables and functions
@import 'functions';
@import 'variables';

// base & layout
@import 'base';
@import 'breakpoints';
@import 'grid';

// colors & font-sizes
@import 'colors';
@import 'font-style';

// components (buttons, cards, navbar, header, footer)
@import 'components/card';
@import 'components/button';
@import 'components/ticket';
@import 'components/header';
@import 'components/navigation';
@import 'components/footer';
@import 'components/contact';

// pages
@import 'pages/home';


// utilities (margin, padding, opacity)
@import 'utilities';


