// variables and functions
@import 'variables';

// base & layout
@import 'base';

// colors 
@import 'colors';

// components (buttons, cards, navbar)
@import 'components/card';
@import 'components/button';


// utilities (margin, padding, opacity)


