@use 'sass:math';

.contact-section {
    padding: 1.25rem 1rem 2.5rem;
    background-image: url('../assets/images/Final_16-9_NoTextB-Fullsize-RGB.jpg');
    box-shadow: inset 0 0 0 1000px rgb(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    h2 {
        text-align: center;
    }

    .contact-wrapper {
        padding: $base-padding / 2;
    }

    .text-wrapper {
        padding: 1rem 1.25rem 3rem 1.25rem;

        p {
            line-height: $font-size-lg;
            margin: 1.25rem 0;
        }
    }

    .form-wrapper {
        margin: 1.5rem 1.25rem 0.25rem 1.25rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
        font-size: $font-size-sm;
        line-height: $font-size-xl;
        }
    
        input, textarea{
        font-size: $font-size-sm;
        border-width: 0 0 1.5px 0;
        outline: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 0.25rem 0;
    
        }
    
        textarea {
        resize: none;
        height: 50px;
        }
    
    }

    .contact-icons {
        margin: ($base-margin * 1.5) auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 320px;
    }

    @include md {
        padding: ($base-padding* 4.5) ($base-padding * 4);
        
        h2 {
            font-size: $font-size-3xl;
            line-height: $font-size-4xl;
        }

        .text-wrapper p {
            line-height: $font-size-xl;
        }

    }

    @include lg {

        .contact-form {
            width: 100%;

            label {
                font-size: $font-size-lg;
            }

            input, textarea{
                font-size: $base-font-size;
            }

        }

    }

    @include xl {
        
        .contact-wrapper {
            padding: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        
        .text-wrapper {
            padding: 3rem;
            width: 80%;
        }
        
        .form-wrapper {
            margin: 3rem 3rem 0 3rem;
            width: 100%;
        }
        
        .contact-form {
            width: 100%;

            input, textarea{
                margin-bottom: 2rem;
                padding: 0.75rem 0;
            }

            textarea {
                height: 80px;
            }
        }

        .contact-icons {     
            margin: ($base-margin * 3) auto ($base-margin * 1.5);
            max-width: 100%;
        }
    }
}