%flex-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    @extend %flex-layout;
    padding: $base-padding ($base-padding * 2.25) ($base-padding * 0.5);
  
    .footer-wrapper {
        width: 100%;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-logo img {
        width: 156px;
    }

    .footer-links-wrapper {
        @extend %flex-layout;
        margin: $base-margin * 0.75 0;
    }

    .footer-links {
        margin: $base-margin * 0.75;
        &:hover {
        text-decoration: none;    
        }
    }

    .footer-icons {
        margin: ($base-padding * 2) auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 320px;
    }

    .footer-copyright {
        @extend %flex-layout;
    }

    .footer-copyright p, .footer-copyright a {
        font-size: $font-size-xs;
        line-height: $base-font-size;
    }

    .footer-copyright a {
        font-weight: 100;
        text-decoration: underline;
    }

    @include md {
        padding: ($base-padding * 1.5) ($base-padding * 2.25) ($base-padding * 0.75);

        .footer-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: $base-margin * 2.25;
        }
        
        .footer-logo {
            text-align: left;
        }
        
        .footer-logo img {
            width: 305px;
        }
        
        .footer-links-wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: ($base-margin * 1.5) 0 0;
            gap: 30px;
        }
    
        .footer-links {
            margin: 0;
        }
        
        .footer-icons {
            margin: ($base-margin * 1.5) 0 0 auto;
        }
        
        .footer-copyright {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    
        .copyright-icon {
            order: 2;
        }
    
    }

    @include lg {
        padding: ($base-padding * 1.5) ($base-padding * 5) ($base-padding * 0.75);
    }
}