@use "sass:math";
@import "../variables";
@import "../breakpoints";

.navigation {
  .navigation-button {
    width: 100%;
    padding: $base-padding;
    font-size: $base-font-size;
    font-weight: bold;
    border: none;
    background-color: #2b284a;
    color: white;
    cursor: pointer;
  }

  .navigation-bar {
    display: block;
    position: relative;
  }

  .navigation-container {
    width: 100%;
    background-color: $main;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-in-out;
    //   align-items: center;
    list-style-type: none;
    z-index: 5;
  }

  .navigation-container > * {
    //   width: 100%;
    font-size: $font-size-sm;
    list-style-type: none;
    padding-block: $base-padding * 0.7;
    text-align: center;
    //   background-color: $main;
  }
  .navigation-container a {
    white-space: nowrap;
    padding: $base-padding;
    font-weight: bold;
    font-size: $base-padding * 0.9;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 400ms ease-out;
  }

  .navigation-container[data-expended="false"] {
    transform: translateY(-150%);
  }
  .navigation-container[data-expended="true"] {
    transform: translateY(0%);
  }

  .navigation-container a {
    padding: $base-padding * 0.5;
    font-size: $font-size-sm;
  }

  .navigation-container a:hover,
  .navigation-container a:active {
    background-color: $highlight;
    border-radius: 10rem;
    color: #2b284a;
  }

  @include lg {
    /* --------------------------------------------- */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    .navigation-button {
      display: none;
    }

    .navigation-container {
      background-color: #2b284a;
      position: relative;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .navigation-container[data-expended="false"] {
      transform: translateY(0%);
    }

    .navigation-container a {
      padding: $base-padding * 0.5;
      font-size: $font-size-sm;
    }
  }

  @include xl {
    .navigation-container a {
      font-size: $base-font-size;
    }
  }
}
@import "../variables";
@import "../breakpoints";

.navigation {
  .navigation-button {
    width: 100%;
    padding: $base-padding;
    font-size: $base-font-size;
    font-weight: bold;
    border: none;
    background-color: rgba(23, 17, 17, 0.6);
    color: white;
    cursor: pointer;
  }

  .navigation-bar {
    display: block;
    position: relative;
  }

  .navigation-container {
    width: 100%;
    background-color: $main;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-in-out;
    //   align-items: center;
    list-style-type: none;
    z-index: 5;
  }

  .navigation-container > * {
    //   width: 100%;
    font-size: $font-size-sm;
    list-style-type: none;
    padding-block: $base-padding * 0.7;
    text-align: center;
    //   background-color: $main;
  }
  .navigation-container a {
    white-space: nowrap;
    padding: $base-padding;
    font-weight: bold;
    font-size: $base-padding * 0.9;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 400ms ease-out;
  }

  .navigation-container[data-expended="false"] {
    transform: translateY(-150%);
  }
  .navigation-container[data-expended="true"] {
    transform: translateY(0%);
  }

  .navigation-container a {
    padding: $base-padding * 0.5;
    font-size: $font-size-sm;
  }

  .navigation-container a:hover,
  .navigation-container a:focus {
    background-color: $highlight;
    border-radius: 10rem;
    color: black;
  }

  @include lg {
    /* --------------------------------------------- */

    .navigation-button {
      display: none;
    }
    .toggle {
      display: none;
    }

    .navigation-container {
      background-color: rgba(23, 17, 17, 0.6);
      position: relative;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
    }

    .navigation-container[data-expended="false"] {
      transform: translateY(0%);
    }

    .navigation-container a {
      padding: $base-padding * 0.5;
      font-size: $font-size-sm;
    }
  }

  @include xl {
    .navigation-container a {
      font-size: $base-font-size;
    }
  }
}
