
.navigation {
	.navigation-button {
	  width: 100%;
	  padding: 1rem;
	  font-size: $base-font-size;
	  border: none;
	  background-color: rgb(0, 0, 0, 0.5);
	  color: white;
	  cursor: pointer;
	}
  
	.navigation-bar {
	  display: block;
	  position: relative;
	}
  
	.navigation-container {
	  width: 100%;
	  background-color: $main;
	  position: absolute;
	  display: flex;
	  flex-direction: column;
	  transition: all 500ms ease-in-out;
	  //   align-items: center;
	  list-style-type: none;
	  z-index: 5;
	}
  
	.navigation-container > * {
	//   width: 100%;
	  font-size: $font-size-sm;
	  list-style-type: none;
	  padding-block: 0.7rem;
	  text-align: center;
	//   background-color: $main;
	}
	.navigation-container a {
	  white-space: nowrap;
	  padding: $base-padding;
	  font-weight: 500;
	  font-size: 0.9rem;
	  text-decoration: none;
	  color: white;
	  text-transform: uppercase;
	  transition: all 400ms ease-out;
	}
  
	.navigation-container[data-expended="false"] {
	  transform: translateY(-150%);
	}
	.navigation-container[data-expended="true"] {
	  transform: translateY(0%);
	}

	.navigation-container a {
		padding: 0.5rem;
		font-size: $font-size-sm;
	  }
  
	.navigation-container a:hover,
	.navigation-container a:focus {
	  background-color: $highlight;
	  border-radius: 10rem;
	  color: black;
	}
  
	@include lg {
	  /* --------------------------------------------- */
		position: sticky;
		top: 0;
		left: 0;

	  .navigation-button {
		display: none;
	  }
  
	  .navigation-container {
		background-color: rgba(23, 17, 17, 0.46);
		position: relative;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	  }
  
	  .navigation-container[data-expended="false"] {
		transform: translateY(0%);
	  }

	  .navigation-container a {
		padding: 0.5rem;
		font-size: $font-size-sm;
	  }
	}

	  @include xl {

		.navigation-container a {
			font-size: $base-font-size;
		}
	  }
  }